.body{
    background-color: blue
    ;
}
.h1styles{
    color: rgb(241, 141, 8);
    font-family: 'Times New Roman';
}
.images{
height: 70%;
width: 90%;


}
.subdiv{
height: auto;
width: 25%;
border: solid green;
float: left;
margin-right:5px ;
padding-left: 10px;
margin-bottom: 10px;

}
.maindiv{
width: 90%;
height: auto;
margin: auto;
background-color: gold;
}
.caption{
color: rgb(207, 9, 9);
text-align: center;
background-color: aqua;
}